{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Ajouter un fichier
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="content-wrapper" style="background-color: #f6f8fa; border: 1px solid var(--custom-green); border-radius: 6px; padding: 2rem;">
            <h1 class="text-center mt-4 pt-4 display-4 fw-bold animate-title" style="color: var(--custom-green);">
                Ajouter un fichier
            </h1>

            <!-- Section pour afficher les messages flash -->
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <!-- Section pour afficher l'espace de stockage -->
            <div class="alert alert-info">
                <strong>Quota de stockage :</strong> {{ espaceUtilise / 1048576 }} Mo / {{ quotaMax / 1048576 }} Mo
                <br>
                <strong>Espace restant :</strong> {{ espaceRestant / 1048576 }} Mo
            </div>

            <div class="row justify-content-center">
                <div class="col-12 p-4 m-0" style="color: var(--github-dark);">
                    {{ form(form) }}
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 p-4 m-0" style="color: var(--github-dark);">
                    <div class="table-responsive">
                        <table class="table caption-top animate-table">
                            <caption style="color: var(--github-grey);">Liste des fichiers</caption>
                            <thead style="background-color: var(--github-dark); color: var(--github-grey);">
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Extension</th>
                                    <th scope="col">Taille</th>
                                    <th scope="col">Fav</th>
                                    <th scope="col">Tags</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for f in app.user.fichiers | sort((a, b) => a.nomOriginal <=> b.nomOriginal) %}
                                    <tr class="animate-row" style="background-color: {{ cycle(['#ffffff', '#f6f8fa'], loop.index0) }};">
                                        <td>{{ f.nomOriginal }}</td>
                                        <td>{{ f.dateEnvoi | date("d-m-Y à H:i:s") }}</td>
                                        <td>
                                            {% if f.extension == 'pdf' %}
                                                <i class="bi bi-file-earmark-pdf" style="color: var(--custom-green);"></i>
                                            {% else %}
                                                <i class="bi bi-file-earmark-text" style="color: var(--github-grey);"></i>
                                            {% endif %}
                                        </td>
                                        {% set ko = f.taille / 1000 %}
                                        <td>{{ ko }} ko</td>
                                        <td>
                                            {% set isFavorite = app.user.favoris|filter(fav => fav.fichier.id == f.id)|length > 0 %}
                                            <a href="{{ path('app_fav_fichier', {'id': f.id}) }}" class="me-2">
                                                <i class="bi {{ isFavorite ? 'bi-star-fill text-warning' : 'bi-star' }} cursor-pointer"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {% for tagFichier in f.tagFichiers %}
                                                {% if tagFichier.tag.nom is not defined or tagFichier.tag.nom is empty %}
                                                    <div class="badge" style="background-color: grey; color: #fff; padding: 5px 10px; border-radius: 4px;">
                                                        Sans tags
                                                    </div>
                                                {% else %}
                                                    <div class="badge" style="background-color: {{ tagFichier.tag.couleur }}; color: #fff; padding: 5px 10px; border-radius: 4px;">
                                                        {{ tagFichier.tag.nom }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{{ path('telechargement-fichier', {'id': f.id}) }}" target="_blank">
                                                <i class="bi bi-download animate-icon" style="color: var(--green-hover);"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
