{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="content-wrapper" style="background-color: #f6f8fa; border: 1px solid var(--custom-green); border-radius: 6px; padding: 2rem;">
            <h1 class="text-center mt-4 pt-4 display-4 fw-bold animate-title" style="color: var(--custom-green);">
                Liste des utilisateurs
            </h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 p-4 m-0" style="color: var(--github-dark);">
                    <div class="table-responsive">
                        <table class="table table-hover animate-table">
                            <thead style="background-color: var(--github-dark); color: var(--github-grey);">
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date d'inscription</th>
                                    <th scope="col">Rôle</th>
                                    <th scope="col">Vérifié</th>
                                    <th scope="col">Quota</th>
                                    <th scope="col">Quota utilisé</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr class="animate-row" style="background-color: {{ cycle(['#ffffff', '#f6f8fa'], loop.index0) }};">
                                        <td>{{ user.email | capitalize }}</td>
                                        <td>{{ user.dateInscription | date("d-m-Y à H:i:s") }}</td>
                                        <td>
                                            {% if "ROLE_ADMIN" in user.roles %}
                                                Administrateur
                                            {% elseif "ROLE_MOD" in user.roles %}
                                                Modérateur
                                            {% else %}
                                                Utilisateur
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.isVerified == 0 %}
                                                Non vérifié
                                            {% else %}
                                                Vérifié
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.quota %}
                                                {{ user.quota.quotaMax / 1048576 }} Mo
                                            {% else %}
                                                Aucune donnée
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% set espaceUtilise = 0 %}
                                            {% for fichier in user.fichiers %}
                                                {% set espaceUtilise = espaceUtilise + fichier.taille %}
                                            {% endfor %}
                                            {{ espaceUtilise / 1048576 }} Mo  <!-- Affichage de l'espace utilisé -->
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
